@font-face {
    font-family: 'Helvetica-regular';
    src: url('../webfonts/Helvetica.eot');
    src: url('../webfonts/Helvetica.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Helvetica.woff2') format('woff2'),
        url('../webfonts/Helvetica.woff') format('woff'),
        url('../webfonts/Helvetica.ttf') format('truetype'),
        url('../webfonts/Helvetica.svg#Helvetica') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica-bold';
    src: url('../webfonts/Helvetica-Bold.eot');
    src: url('../webfonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Helvetica-Bold.woff2') format('woff2'),
        url('../webfonts/Helvetica-Bold.woff') format('woff'),
        url('../webfonts/Helvetica-Bold.ttf') format('truetype'),
        url('../webfonts/Helvetica-Bold.svg#Helvetica-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

body {
  font-family: 'Helvetica-regular';
}

.container {
	max-width: 1200px !important;
}

/*Facebook: 
Instagram: 
*/

.facebook_wrapper {
	padding: 80px 0;
}

.facebook_wrapper h2 {
	font-size: 44px;
	font-weight: 700;
	padding-bottom: 30px;
}

.facebook_wrapper h2 span {
	color: #3b5998;
}

.facebook_wrapper .facebook_item {
	transition: 0.4s all ease-in-out;
	margin-top: 30px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.facebook_wrapper .facebook_item:hover {
	transform: translateY(-5px);
}

.facebook_wrapper .facebook_item figure {
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: 0.4s all ease-in-out;
}

.facebook_wrapper .facebook_item:hover figure img {
	transform: scale(1.10);
}

.facebook_wrapper .facebook_item figure img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.4s all ease-in-out;
	overflow: hidden;
}

.facebook_wrapper .facebook_item .facebook_content {
    background: #3b5998;
    text-align: center;
    padding: 20px;
}

.facebook_wrapper .facebook_item .facebook_content h3 {
    font-size: 21px;
    font-weight: 700;
    color: #ffffff;
}

.facebook_wrapper .facebook_item .facebook_content p {
    text-transform: uppercase;
    color: #d7d3d3;
    font-size: 14px;
}

.facebook_wrapper .facebook_item .facebook_content ul {
    list-style: none;
    margin: 0;
}

.facebook_wrapper .facebook_item .facebook_content li {
	  display: inline-block;
	  margin: 0 5px;
}

.facebook_wrapper .facebook_item .facebook_content li a {
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #ffffff;
    transition: 0.4s all ease-in-out;
}

.facebook_wrapper .facebook_item .facebook_content li a:hover {
	  text-decoration: none;
	  opacity: 0.7;
}

.facebook_wrapper .facebook_item .facebook_content .bg1 {
	 background: #1e85ff;
}

.facebook_wrapper .facebook_item .facebook_content .bg2 {
	 background: linear-gradient(115deg, rgb(249, 206, 52), rgb(238, 42, 123), rgb(98, 40, 215));
}

.facebook_wrapper .facebook_item .facebook_content .bg3 {
	 background: linear-gradient(-120deg, #4285f4, #34a853, #fbbc05, #ea4335);
}